<!DOCTYPE html>
<html>

<head>
    <title>Accident</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
</head>

<body>

    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">Driver Analytics</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/">DashBoard</a></li>
                        <li><a href="/accident">Accident</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/">DashBoard</a></li>
                <li><a href="/accident">Accident</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>

    </header>

    <main>
        <center>
            <h1>Welcome to the Alcohol page</h1>
            <p>Accoring to the drunk driving law, the allowed blood alcohol content(BAC) legal limit is 0.05% or 30mg alcohol in 100ml blood</p>
            <div class="row">
                <div class="col s12 ">
                    <div class="card ">
                        <div class="card-content black-text">
                            <span class="card-title" id="drivers">00</span>
                            <h6>Above displayed is the number of active drivers driving cars just below the allowed alcohol level. Represents
                                the approximate
                                number of car drivers that can indulge in an accident.</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/accident1.jpg" height="450" width="450">
                            <span class="card-title" style="color:black; font-size:60px; font-weight: 200">Register an
                                Alcohol Complaint</span>
                        </div>
                        <div class="card-content">
                            <h6>This card represents the alcohol registering page. Click on the below link to go the
                                registration page and manually registering an alcohol complaint
                                page</h6>
                        </div>
                        <div class="card-action">
                            <a href="/alcoholRegister">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/accident.jpg" height="450" width="450">
                            <span class="card-title" style="color:black; font-size:60px; font-weight: 200; ">Alcohol
                                Log</span>
                        </div>
                        <div class="card-content">
                            <h6>This card represents the alcohol logs page. Click on the below link to go the
                                alcohol
                                log page to view all the previously happened alcohol complaints</h6>
                        </div>
                        <div class="card-action">
                            <a href="/alcoholLog">Alcohol Log</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <button data-target="modal1" class="btn modal-trigger" style="visibility:hidden" id="button">Modal</button>

            <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>Alcohol has been detected. Rush services to the location</h4>
                    <p>Alcohol over the limit has been detected at the location with the cordinates <span id="lat"></span> and <span id="lon"></span></p>
                    <div id="mapid1" style="height: 500px;"></div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="link">Navigate</a>
                </div>
            </div>

            <div class="row">
                <div class="col s12 ">
                    <div class="card ">
                        <div class="card-content black-text">
                            <span class="card-title " id="drivers">Alcohol Incident Prone Areas with location</span>
                            <div id="mapid" style="height: 500px;"></div>
                        </div>
                    </div>
                </div>
            </div>

        </center>
    </main>
    <br><br>

    <footer class="page-footer" style="background-color: black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Driver Analytics</h5>
                    <p class="grey-text text-lighten-4">This website is a part of the final year project created by us
                        with the
                        topic "Accident Prevention, Detection and Analytics" under the guidance of Prof. Sarika Davare
                    </p>
                    <p class="grey-text text-lighten-4">Copyrights @2018 Driver Analytics</p>
                </div>
                <div class="col l2 offset-l2 s6">
                    <h6>About</h6>
                    <ul>
                        <li><a href="" class="grey-text text-lighten-3">Help</a></li>
                        <li><a href="" class="grey-text text-lighten-3">Contact</a></li>
                    </ul>
                </div>
                <div class="col l2 s6">
                    <h6>Career</h6>
                    <ul>
                        <li><a href="" class="grey-text text-lighten-3">Engineer</a></li>
                        <li><a href="" class="grey-text text-lighten-3">Site Manager</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="/javascripts/plot.js"></script>
    <script src="/javascripts/gauge.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
        $(document).ready(function () {
            $('.modal').modal();
        });
    </script>
    <script src="/javascripts/alcohol.js"></script>
</body>

</html>